#playground{
	background: url(img/football.jpg) no-repeat;
	width:  400px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

#title
{
	font-style: bold;
	font-size: 75px;
	font-family: "Cambria";
}

.alignleft {
	float: left;
	font-style: bold;
	font-size: 20px;
}
.alignright {
	float: right;
	font-style: bold;
	font-size: 20px;
}

.textleft {
	float: left;
	font-style: bold;
	font-size: 20px;
}
.textright {
	float: right;
	font-style: bold;
	font-size: 20px;
}

#scoreboard {
  color: #F8F8F2;
  /*background-color: #1EC3C3;*/
  background: linear-gradient(90deg, red 50%, blue 50%);
  border-radius: 10px;
  width: 400px;
  height: 90px;
}

#ball{
	/*background:#fbb;*/
	background-image: url(img/soccer.png);
	position: absolute;
	width:20px;
	height: 20px;
	left: 150px;
	top: 100px;
	border-radius: 10px;
}
.paddle{
	left: 50px;
	top: 70px;
	position: absolute;
	width: 30px;
	height: 70px;
}
#paddleA{
	background-image: url(img/char2.png);
}
#paddleB{
	left: 320px;
	background-image: url(img/character.png);
}